// Place all the styles related to the Dinosaurs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content{
	margin:auto;
}

.no-dino-image{
	width:200px;
	height:250px;
}

#wrapper{
	padding:10px; 
	background:#808080;
}

h1{
	margin-bottom:50px;
	margin-top:50px;
}

#left{
	text-align:center;
	img{
		width:80%;

	}
}

#left .wrapper{
	height:150px;
	width:150px;
	text-align: center;
	font: 0/0 a;
	background: #ffffff;
	margin:auto;
	border:10px solid #808080;
}

#left .wrapper:before{
	content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
    width:0px;
}

#left img{
	height:auto;
	width:auto;
	max-height:150px;
	max-width:150px;
	display:inline-block;
	vertical-align:middle;
}
#right{
	padding-top:15px;
	p{
		text-align:left;
		font-weight:bold;
		span{
			font-weight:normal;
			float:right;
		}
	}
}

.toolbar .pagination{
	margin-top:-85px;
}

.dino-wrapper{
	background:#808080;
	padding:20px;
	height:150px;
	overflow:auto;
}



.clearfix{ clear:both; }

.dino-name{ 
	float:left;
	font-weight:bold;
	font-size:14px;
	text-decoration: underline;
}
.dino-name:hover{
	color:#F7E956;
}
.dino-era{
	float:right;
}
.dino-diet{
	float:right;
}
.dino-description{
	float:left;
	width:70%;
	text-align:left;
}
.dino-short{
	display:none;
}
.dino-info{
	width:calc(100% - 215px); 
	margin-left:200px;
	display:block;
}

.bottom-header{
	margin-bottom:10px;
	width:auto;
	text-align:center;
}

.bottom{
	width:90%;
	padding:20px;
	text-align:left;
	background:#808080;
	margin:auto;
	margin-top:20px;
}

.modal a.close-modal {
	background: url('close.png')no-repeat 0 0 !important;
}

@media (max-width:780px){
	.dino-description{
		display:none;
	}
	.dino-short{
		float:left;
		widtH:70%;
		text-align:left;
		display:block;
	}
}

@media (max-width: 600px){
	#left{
		width:100%;
		float:clear;
		height:250px;
		font: 0/0 a;
		img{
			height:auto;
			max-height:240px;
			width:auto;
			max-width:80%;
			display:inline-block;
			vertical-align:middle;
		}
		
	}
	.search_bar{
		width: 75%;
	}
	#left:before{
	    display: none !important;
	    vertical-align: middle;  
	    height: 100%;
	}
	#right{
		padding:10%;
		padding-bottom:2% !important;
		display:block;
		margin-left:0%;
		margin-top:300px !important;
		height:150px;
		p{
			width:90%;
			padding:5px;
		}
	}

	.bottom{
		margin-top:0px !important; 
	}
	.bottom-header{
		margin-top:0px !important;
	}

	.pagination{
		width:100% !important;
		margin:0px !important;
	}


	.pagination a{
		display:none;
	}

	.pagination em{
		display:none;
	}
	.pagination .gap{
		display:none;
	}

	.pagination span{
		display:none;
	}

	.dino-description{
		display:none;
	}

	.dino-short{
		display:none;
	}

	.dino-img-wrapper{
		float:none !important;
		margin:auto;
	}

	.dino-info{
		margin-left:auto !important;
		width:auto !important;
		margin-top:10px;
	}
	.dino-name, .dino-diet{float: center!important;line-height:10px;}
	.dino-era{ display:none;}

	.dino{height:275px !important;
		margin-top:10px;}
	.dino-wrapper{height:235px !important; padding:5px !important; width:200px; margin:auto;}

	.pagination .previous_page{
		display:block !important;
		width:49%;
		float:left;
		padding:5px 0px !important;
		text-align:center;
	} 

	.pagination .next_page{
		display:block !important;
		width:49%;
		float: right;
		padding:5px 0px!important;
		text-align:center;
	}

	.dino-list{
		padding-top:20px;
	}


	.toolbar .pagination{
		margin-top:0px;
	}
}